<div class="container my-5">
    <h1 class="mb-3">Dodaj umowę</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="mb-3">
            <label for="contractNumber">Numer umowy</label>
            <input type="number" class="form-control" id="contractNumber" name="contractNumber" ngModel placeholder="Numer umowy" required>
          </div>
          <div class="mb-3">
            <label for="name">Nazwa</label>
            <input type="text" class="form-control" id="name" name="name" ngModel placeholder="Nazwa" required>
          </div>
          <div class="mb-3">
            <label for="description">Opis</label>
            <input type="text" class="form-control" id="description" name="description" ngModel placeholder="Opis" required>
          </div>
          <!-- <div class="mb-3">
            <label for="contractTypeOne">Typ 1</label>
            <input type="number" class="form-control" id="contractTypeOne" name="contractTypeOne" ngModel placeholder="Typ 1" required>
          </div> -->
          <!-- <div class="mb-3">
            <label for="contractTypeOne">Kategoria</label>
            <select class="form-control" id="contractTypeOne" name="contractTypeOne" ngModel required>
                <option *ngFor="let type of contractTypeOne" [value]="type.id">{{ type.name }}</option>
            </select>
          </div> -->
          <div class="mb-3">
            <label for="contractTypeOne">Kategoria</label>
            <select class="form-control" id="contractTypeOne" name="contractTypeOne" ngModel required (change)="onContractTypeOneChange($event)">
              <option *ngFor="let type of contractTypeOne" [value]="type.id">{{ type.name }}</option>
            </select>
        </div>
          <!-- <div class="mb-3">
            <label for="contractTypeTwo">Typ 2</label>z
            <input type="number" class="form-control" id="contractTypeTwo" name="contractTypeTwo" ngModel placeholder="Typ 2" required>
          </div> -->
          <!-- <div class="mb-3">
            <label for="contractTypeTwo">Podkategoria</label>
            <select class="form-control" id="contractTypeTwo" name="contractTypeTwo" ngModel required>
                <option *ngFor="let type of contractTypeTwo" [value]="type.id">{{ type.name }}</option>
            </select>
          </div> -->
          <div class="mb-3">
            <label for="contractTypeTwo">Podkategoria</label>
            <select class="form-control" id="contractTypeTwo" name="contractTypeTwo" ngModel required>
              <option *ngFor="let type of contractTypeTwo" [value]="type.id">{{ type.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="dateOfConclusion">Data zawarcia</label>
            <input type="date" class="form-control" id="dateOfConclusion" name="dateOfConclusion" ngModel placeholder="Data zawarcia" required>
          </div>
          <div class="mb-3">
            <label for="value">Wartość</label>
            <input type="number" class="form-control" id="value" name="value" ngModel placeholder="Wartość" required>
          </div>
          <div class="mb-3">
            <label for="contractor">Kontraktor</label>
            <input type="text" class="form-control" id="contractor" name="contractor" ngModel placeholder="Kontraktor" required>
          </div>
          <div class="mb-3">
            <label for="signatory">Sygnatariusz</label>
            <input type="text" class="form-control" id="signatory" name="signatory" ngModel placeholder="Sygnatariusz" required>
          </div>
          <!--<div class="mb-3">
            <label for="pdf">PDF</label>
            <input type="text" class="form-control" id="pdf" name="pdf" ngModel placeholder="PDF" required>
          </div>-->
          <!-- <div class="mb-3">
            <label for="pdf">PDF</label>
            <input type="file" class="form-control" id="pdf" name="pdf" ngModel placeholder="PDF" onchange="console.log(event.target.files)" required>
          </div> -->
          <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
</div>