<div class="mb-3">
    <input type={{type}} 
    [class.is-invalid]="control.touched && control.invalid" 
    class="form-control" 
    name="password" 
    [formControl]="control"
    placeholder={{label}}>
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">Wprowadź {{label}}</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">{{label}} musi mieć minimalnie {{control.errors?.['minlength'].requiredLength}} znaki</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['maxlength']">{{label}} musi mieć maksymalnie {{control.errors?.['maxlength'].requiredLength}} znaków</div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">Hasła muszą być identyczne</div>
</div>