<div class="class row">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 30%;">Nazwa użytkownika</th>
                <th style="width: 30%;">Rola</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.userName}}</td>
                <td>{{user.roles}}</td>
                <td><button (click)="openRolesModal(user)" class="btn btn-info">Edytuj rolę</button></td>
            </tr>
        </tbody>
    </table>
</div>
