<div class="container">
    <button type="button" class="btn btn-primary mb-2" routerLink="/add-annex">+ Dodaj aneks</button>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nr aneksu</th>
                    <th>Nazwa</th>
                    <th>Opis</th>
                    <th>Data zawarcia</th>
                    <th>Kontraktor</th>
                    <th>Sygnatariusz</th>
                    <th>Dodaj</th>
                    <th>Pobierz</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let annex of annexes">
                    <td>{{annex.annexNumber}}</td>
                    <td>{{annex.name}}</td>
                    <td>{{annex.description}}</td>
                    <td>{{annex.dateOfConclusion| date: 'dd MMM, yyyy'}}</td>
                    <td>{{annex.contractor}}</td>
                    <td>{{annex.signatory}}</td>
                    <td>
                        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event, annex.id)">
                        <button class="btn btn-secondary" (click)="fileInput.click()"><i class="bi bi-upload"></i></button>
                    </td>
                    <td><button class="btn btn-primary" (click)="downloadPdf(annex.id)" [disabled]="!annex.hasPdf"><i class="bi bi-download"></i></button></td>
                    <td><button class="btn btn-danger" *appHasRole="['Admin']" (click)="deleteAnnexToTheContract(annex.id)">Usuń</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>