  .feature-list {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  
  .feature-item {
    display: table-row;
  }
  
  .feature-item .dash {
    display: table-cell;
    padding-right: 10px;
    text-align: right;
  }
  
  .feature-item h3 {
    display: table-cell;
    padding-left: 10px;
    text-align: left;
  }
  
  .card {
    min-height: 150px;
    background-color: rgba(236, 240,241);
  }

  h4 { 
    font-weight: 600;
  }

  h6 {
    font-style: italic;
  }