<body>
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Umowy</h4>
              <h6 class="card-subtitle text-muted">Umowa to porozumienie między dwoma lub więcej stronami, które określa ich wzajemne prawa i obowiązki. 
                Może mieć formę ustną lub pisemną i jest podstawą do dochodzenia roszczeń w przypadku niewywiązania się z ustaleń.</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Aneksy do umowy</h4>
              <h6 class="card-subtitle text-muted">Aneks do umowy to dokument, który modyfikuje, uzupełnia lub precyzuje warunki istniejącej umowy. 
                Stanowi integralną część umowy i jest podpisywany przez wszystkie strony, które zawarły pierwotną umowę.</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Pliki pdf do umowy</h4>
              <h6 class="card-subtitle text-muted">Dokumenty umów przechowywane są w formacie pdf.</h6>
            </div>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Pliki pdf do aneksów</h4>
              <h6 class="card-subtitle text-muted">Dokumenty aneksów do umowy przechowywane są w formacie pdf.</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Kategorie umów</h4>
              <h6 class="card-subtitle text-muted">Określają do jakiej kategorii należy umowa. Pozwala na ułatwienie w orgazniacji i zarządzaniu umowami.</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-2">
            <div class="card-block">
              <h4 class="card-title">Podkategorie umów</h4>
              <h6 class="card-subtitle text-muted">Pozwalają na dokładnejszy podział umów. Jeszcze dokładniej precyzują kategorie.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script> -->
</body>