<div class="container my-5">
  <h1 class="mb-3">Edytuj umowę</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-warning" routerLink="/contracts" routerLinkActive="active">Powrót</button>
  </div>
  <!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->
  <form [formGroup]="contractForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="contractNumber">Numer umowy</label>
      <input type="number" class="form-control" id="contractNumber" name="contractNumber" formControlName="contractNumber"
        placeholder="Numer umowy" required>
    </div>
    <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Nazwa" required>
    </div>
    <div class="mb-3">
      <label for="description">Opis</label>
      <input type="text" class="form-control" id="description" name="description" formControlName="description" placeholder="Opis" required>
    </div>
    <!-- <div class="mb-3">
      <label for="contractTypeOne">Typ 1</label>
      <input type="number" class="form-control" id="contractTypeOne" name="contractTypeOne" formControlName="contractTypeOne" placeholder="Typ 1"
        required>
    </div> -->
    <div class="mb-3">
      <label for="contractTypeOne">Kategoria</label>
      <select class="form-control" id="contractTypeOne" name="contractTypeOne" formControlName="contractTypeOne" required>
          <option *ngFor="let type of contractTypeOne" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <!-- <div class="mb-3">
      <label for="contractTypeTwo">Typ 2</label>
      <input type="number" class="form-control" id="contractTypeTwo" name="contractTypeTwo" formControlName="contractTypeTwo" placeholder="Typ 2"
        required>
    </div> -->
    <div class="mb-3">
      <label for="contractTypeTwo">Podkategoria</label>
      <select class="form-control" id="contractTypeTwo" name="contractTypeTwo" formControlName="contractTypeTwo" required>
          <option *ngFor="let type of contractTypeTwo" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="dateOfConclusion">Data zawarcia</label>
      <input type="date" class="form-control" id="dateOfConclusion" name="dateOfConclusion" formControlName="dateOfConclusion"
        placeholder="Data zawarcia" required>
    </div>
    <div class="mb-3">
      <label for="value">Wartość</label>
      <input type="number" class="form-control" id="value" name="value" formControlName="value" placeholder="Wartość" required>
    </div>
    <div class="mb-3">
      <label for="contractor">Kontraktor</label>
      <input type="text" class="form-control" id="contractor" name="contractor" formControlName="contractor" placeholder="Kontraktor"
        required>
    </div>
    <div class="mb-3">
      <label for="signatory">Sygnatariusz</label>
      <input type="text" class="form-control" id="signatory" name="signatory" formControlName="signatory" placeholder="Sygnatariusz"
        required>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>
</div>