<div class="container">
    <div class="table-responsive">
        <button class="btn btn-primary mb-2" routerLink="/add-contractTypeTwo">+ Dodaj podkategorię</button>
        <table class="table">
            <thead>
                <tr>
                    <th>Nr Id</th>
                    <th>Nazwa</th>
                    <th>Nr Id kategorii</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contractTypeTwo of contractTypeTwos">
                    <td>{{contractTypeTwo.id}}</td>
                    <td>{{contractTypeTwo.name}}</td>
                    <td>{{contractTypeTwo.contractTypeOneId}}</td>
                    <!-- <td><button class="btn btn-success" >Edytuj</button></td> -->
                    <td><button class="btn btn-danger" *appHasRole="['Writer']">Usuń</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
